@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.nav-bar {
    background-color: #333645;
    color: #fff;
    height: 100px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar a:hover {
    border-bottom: 1.5px #FFC255 solid;
}

.nav-bar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.nav-bar .flex {
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    color: #FFC255;
}

/* hero */
.hero {
    height: 60vh;
    background-color: #333645;
}

.hero .grid {
    height: 100%;
    align-items: end;
    overflow: hidden;
}

.hero h1 {
    font-weight: 600;
    font-size: 80px;
    translate: 70px 100px;
}

.image-container {
    width: 550px;
    translate: 300px 0px;
}

.links {
    translate: 70px -50px;
}

.links i {
    font-size: 30px;
    width: 60px;
}

.hero-text {
    padding-left: 125px;
    margin-left: 100px;
    align-self: center;
}

#intro-text-1 {
    font-size: 20px;
    opacity: 60%;
}

#intro-text-2 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
    padding: 15px 0;
}

#intro-text-3 {
    font-size: 17px;
    line-height: 1.4;
    margin: 12x 0;
    opacity: 60%;
}

/* skills section */
.skills {
    background-color: #242734;
    height: 60vh;
}


/* Utilities */
.container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

/* Mobile Responsive */
@media(max-width: 500px) {
    .nav-bar {
        height: 110px;
    }

    .nav-bar .flex {
        flex-direction: column;
    }

    .nav-bar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

    .nav-bar ul li {
        border-radius: 15px;
    }

    .grid,
    .hero .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 0;
        height: auto;
    }

    .hero {
        height: 95vh;

    }

    .hero-text {
        padding-left: 0px;
        margin-left: 50px;
        align-self: center;
        justify-self: center;
    }

    .image-container {
        width: 500px;
        translate: 50px 0;
    }

    .hero h1 {
        translate: 80px 40px;
        font-size: 60px;
    }

    #intro-text-1 {
        font-size: 15px;
    }

    #intro-text-2 {
        font-size: 25px;
    }

    #intro-text-3 {
        font-size: 16px;
    }
}